.container{
    margin:0 auto;
    text-align:center;
    width:1300px;
    height:700px;
    text-align:center;
    position: relative;
}
#bg-1{
    background-image: url(../img/bg-1.png);
    background-repeat: no-repeat;
    background-position: contain;
}

#bg-2{
    background-image: url(../img/bg-2.png);
    background-repeat: no-repeat;
    background-position: contain;

}

#bg-signin{
    background-image: url(../img/bg-signin.png);
    background-repeat: no-repeat;
    background-position: contain;

}

#bg-signup{
    background-image: url(../img/bg-signup.png);
    background-repeat: no-repeat;
    background-position: contain;

}


#bg-choosesize{
    background-image: url(../img/bg-choosesize.png);
    background-repeat: no-repeat;
    background-position: contain;

}

#bg-signup-success{
    background-image: url(../img/bg-signup-success.png);
    background-repeat: no-repeat;
    background-position: contain;

}


#bg-lobby{
    background-image: url(../img/bg-lobby.png);
    background-repeat: no-repeat;
    background-position: contain;

}

#bg-userinfo{
    background-image: url(../img/bg-userinfo.png);
    background-repeat: no-repeat;
    background-position: contain;

}


#bg-seek{
    background-image: url(../img/bg-seek.png);
    background-repeat: no-repeat;
    background-position: contain;

}

#bg-about{
    background-image: url(../img/bg-about.png);
    background-repeat: no-repeat;
    background-position: contain;
}


#bg-game-play-10x10{
    background-image: url(../img/bg-game-play-10x10.png);
    background-repeat: no-repeat;
    background-position: contain;

}

#bg-game-play-7x7{
    background-image: url(../img/bg-game-play-7x7.png);
    background-repeat: no-repeat;
    background-position: contain;

}

#bg-game-setting-10x10{
    background-image: url(../img/bg-game-setting-10x10.png);
    background-repeat: no-repeat;
    background-position: contain;

}


#bg-game-setting-7x7{
    background-image: url(../img/bg-game-setting-7x7.png);
    background-repeat: no-repeat;
    background-position: contain;

}


div .signin{
    margin:0 auto;
    width: 600px;
    height:600px;
    padding-top: 15%;
}

div .signin h1{
    color:#7d4509;
    font-family: Gabriola, 'Times New Roman';
    font-size:40px;
    margin:0px;

}

#game_mode{
    color:#7d4509;
    font-family: Gabriola, 'Times New Roman';
    font-size:40px;
    margin:0px;
    padding-top: 120px;
}

input{
    width: 262px;
    height:62px;
    font-family: Gabriola, 'Times New Roman';
    font-size:40px;
    border: none ;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 20px;
    margin-left:20px;
    color:#97530b;
    background-color: #ebdac0;
    background-image: url(../img/box.png);
    background-repeat: no-repeat;
    background-size: contain;
}



input[value]{
    width: 120px;
    height:30px;
    font-size:20px;
}


span{
    color:#97530b;
    font-family: Gabriola, 'Times New Roman';
    font-size:20px;

}
a{
    color:#97530b;
    font-family: Gabriola, 'Times New Roman';
    font-size:20px;
    text-decoration: none;


}

.err-msg{
    color:#97530b;
    font-family: Gabriola, 'Times New Roman';
    line-height: 50px;
    font-size: 20px;
    padding:0;
}
#tourist{
    padding-top:20%;
}

#signin{
    margin-top: 1%;
}

#about{
    padding-top: 3%;
    width:8%;
}

#setting{
    padding-left:1%;
    padding-top: 1%;
    width:8%;
}

#back{
    position: absolute;
    left:75%;
    top:70%;
}
#your_turn{
    position: absolute;
    left:10%;
    top:38%;
    display: none;
}

#opponent_turn{
    position: absolute;
    left:78%;
    top:38%;
    display: none;
}

#win_status{
    position: absolute;
    left:36%;
    top:70%;
    display: none;
}

#home{
    position: absolute;
    left:85%;
    top:70%;
}
#name_card{
    position: absolute;
    left:5%;
    top:4%;
    width:300px;
    height:200px;
}

.name_card{

    width:400px;
    z-index:0;
}

#user-info{
    position:absolute;
    top:80px;
    left:50px;
    width:90px;
    z-index:1;
}

#invitation-table{
    width: 30%;
    height:50%;
    margin:0 auto;
    padding-top: 16%;
    color:#97530b;
    font-family: Gabriola, 'Times New Roman';
    font-size:25px;
}
#invitation-table ul{
    text-align: left;
    width:100%;
    height:63%;
}
#invitation-table div{
    float:right;
}

#invitation-table ul a{
    color:#97530b;
    padding:3px;
    margin-right:5%;
    line-height: 16px;
    font-family: Gabriola, 'Times New Roman';
    font-size:16px;
    border:#97530b solid  0.5px;
    border-radius: 5px;
}

#invitation-table img{
    margin-top: 8%;
}


#username{
    position:absolute;
    top:68px;
    left:210px;
    color:#97530b;
    font-family: Gabriola, 'Times New Roman';
    font-size:20px;
}
#role{
    position:absolute;
    top:92px;
    left:210px;
    color:#97530b;
    font-family: Gabriola, 'Times New Roman';
    font-size:20px;
}

#view_detail{
    position:absolute;
    top:146px;
    left:140px;
    color:#97530b;
    padding:3px;
    line-height: 16px;
    font-family: Gabriola, 'Times New Roman';
    font-size:16px;
    border:#97530b solid  0.5px;
    border-radius: 5px;
}
#sign_out{
    position:absolute;
    top:146px;
    left:210px;
    color:#97530b;
    padding:3px;
    line-height: 16px;
    font-family: Gabriola, 'Times New Roman';
    font-size:16px;
    border:#97530b solid  0.5px;
    border-radius: 5px;
}
.two_box_top{
    padding-top:15%;
    width: 25%;
}

.two_box_bottom{
    width: 25%;


}


#basic-info{
    height:20%;
    width: 20%;
    margin:0 auto;
    padding-top:13%;
}

#basic-info p{
    height:20%;
    color:#6c3b08;
    font-family: Gabriola, 'Times New Roman';
    font-size:30px;
    margin-top:2%;
    margin-bottom:2%;

}
#game-detail{
    height:30%;
    width: 40%;
    margin:0 auto;
    padding-top:3%;
}

#game-detail table {
    border-collapse: collapse;
    width:400px;
    margin:0 auto;
}

#game-detail table, th, td {
    border: 2px solid#7d4509;
    opacity: 0.9;
}

#game-detail th, td {
    padding: 5px;
    color:#6c3b08;
    font-family: Gabriola, 'Times New Roman';
    font-size:20px;
    line-height: 20px;
}

#left{
    width: 20px;
    padding-top: 20px;
}


#right{
    width: 20px;
    padding-left:100px;
}


#clicksignin{
    margin-top: 23%;
}

#game_table{
    width: 51%;
    height:50%;
    margin:0 auto;
    padding-top: 12%;
}
